html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*custom css*/

/*set container width*/
.homePage{
    background: linear-gradient(to right,#1abc9c,#1cb7c8);
}
.container{
    padding: 0px;
}

.header {
    padding: 10px 0px;
    box-shadow: 0 0 1px 1px hsla(0,0%,7%,.1), 0 3px 1px 0 hsla(0,0%,7%,.1);
}
/*footer component*/
.footercontent {
    padding: 20px;
    text-align: center;
}
.footer{
   border-top: 1px solid rgba(0,0,0,0.1);
}

/*main component*/
.article {
    display: flex;
    flex-wrap: nowrap;
    height: 80vh;
}
.main {
    width: 75%;
    text-align: center;
}
.joinbtn{
    position: relative;
    top: 50%;
}
.startbtn{
    position: relative;
    top: 50%;
}
.pausebtn{
    float: left;
}
.stopbtn{
    float: right;
}
.buttons{
   position: relative;
   top: 92%;
}
/*chat component*/
.chatwindow {
       display: flex;
    justify-content: space-between;
    flex-direction: column;
   background-color: #f3f3f3;
    border-left:1px solid #666;
    width: 25%;
    text-align: center;
}
textarea {
    width: 100%;
    resize: none;
    padding: .4em .8em;
    border:1px solid transparent;
    background-color: #eee;
    border-radius: 0px;
}
/*logincomp*/
.login, .sigin{
    text-align: -webkit-center;
    position: relative;
    opacity: 1;
    width: 50%;
    animation: log .5s linear;
}
@keyframes log {
    0%   {right:10px;opacity: 0;}
    100% {right:0px;opacity: 1;}
}
@keyframes sign {
    0%   {left:10px;opacity: 0;}
    100% {left:0px;opacity: 1;}
}
/*new*/
.form.frm-group {
    padding: 20px;
}
.sigin button,.login button{
    margin: 10px 9%;
    width: 80px;
 }
.sigin input,.login input, .login select{
    margin: 20px 0px;
}
.login p,.sigin p{
   text-align: center;
   color: red;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #666;
}
.logo{
    padding-left: 10px;
    height: 50px;
    width: 50px;
}
form h1{
   border-bottom: 1px solid #1ABC9C;
   text-align: center;
    color:#1ABC9C;
    font-weight: 600;
    font-size: 24px;
    padding: 10px 5px;
}
.btn-primary{
    background: transparent;
    border: 1px solid #1ABC9C;
    color: #1ABC9C;
    transition: all .2s ease-in-out;
}
.btn-primary:focus, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-primary:link{
    background:#1ABC9C;
    border: 1px solid #1ABC9C;
}
.form-control{
    transition: all .2s linear;
    border: 1px solid #aaa;
}
.form-control:focus{
    border: 1px solid #1ABC9C;
    box-shadow: none;
 }
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    appearance:none;
}
.chat::-webkit-input-placeholder {
    color: #1ABC9C;
}
form {
   box-shadow:0px 0px 15px #333;
   margin-top: 10px;
   height: 400px;
   background-color: #fff;
   text-align: -webkit-left;
   width: 300px;
}
@media screen and (max-width: 650px){
   .container .article{
   display: inline;
}
.sigin,.login {
    width: 100%;
}
}